.not-found-container {
  background-color: #333333c7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container .not-found {
  text-align: center;
  color: #fff;
}

.not-found-container .not-found h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

.not-found-animation {
  display: flex;
  justify-content: center;
}

.not-found-container .bar {
  width: 5px;
  height: 25px;
  margin-right: 3px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.not-found-container .bar1 {
  background-color: #fff;
}

.not-found-container .bar2 {
  background-color: #e4e4e4;
  animation-delay: 0.2s;
}

.not-found-container .bar3 {
  background-color: #dcdcdc;
  animation-delay: 0.4s;
}

.not-found-container .bar4 {
  background-color: #c8c8c8;
  animation-delay: 0.6s;
}

.not-found-container .bar5 {
  background-color: #b0b0b0;
  animation-delay: 0.8s;
}

.not-found-container .bar6 {
  background-color: #888;
  animation-delay: 1s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 3);
  }
  40% {
    transform: scale(1);
  }
}